.g-config-breadcrumb-container
p.
  Configure Discourse Single-Sign-On (SSO).
form#g-discourse-sso-settings-form(role="form")
  .form-group
    label.control-label(for="g-discourse-sso-sso-secret") Discourse SSO secret
    input#g-discourse-sso-sso-secret.input-sm.form-control(type="password",
      placeholder="Enter the secret string as configured on Discourse")
  p#g-discourse-sso-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
